<div class="mfp-bg mfp-ready"></div>

<div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" tabindex="-1" style="overflow-x: hidden; overflow-y: auto;"> 
  <div class="mfp-container mfp-s-ready mfp-inline-holder">
    <div class="mfp-content">
      <div id="workID-1" class="work-popup">
        <img src="{{data.img}}" alt="">
        <div class="work-popup-content">
          <h3 style="color:black">{{data.title}}</h3>
          <p style="color:black">{{data.description}}</p>
        <div>
            <button title="Close (Esc)" type="button" class="mfp-close" (click)="closeComponent()">×</button>
        </div>
        <div style="text-align:center" *ngIf='show'>
            <a href="{{data.git}}" type="button" class="site-btn" style="background-color:white;font-size:xx-large"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>