span{
    animation: blink 1s infinite;
}

@keyframes type{
    from {width: 0; }
}

@-webkit-keyframes type{
    from { width: 0;  }
}

@keyframes blink {
    to{opacity: .0;}
}

.typing
{
  display: inline-block;
  width: 100%;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 3s steps(60, end) alternate;
  animation: type 3s steps(60, end) alternate;
}


