<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <script src="./js/jquery-2.1.4.min.js"></script>
	<script src="./js/plugin.js"></script>
	<script src="./js/main.js"></script> -->
</head>
<body>
	<!-- Page Preloder -->
	<!-- <div id="preloder">
		<div class="loader"></div>
	</div> -->

	<!--====== Header Section Start ======-->
	<header class="header-section" id="nav">
		<div class="logo">
			<img src="../assets/img/logo.png" alt=""><!-- Logo -->
		</div>
		<div class="responsive" (click)="onResponsive($event)"><i class="fa fa-bars"></i></div>
		<!-- Navigation -->
		<ul class="menu-list" id="menu" (click)="onMenuSelect()">
			<li><a href="#home" scrollTo="home">Home</a></li>
			<li><a href="#about" scrollTo="about">About</a></li>
			<li><a href="#resume" scrollTo="resume">Resume</a></li>
			<li><a href="#portfolio" scrollTo="portfolio">Portfolio</a></li>
			<li><a href="#contact" scrollTo="contact">Contact</a></li>
		</ul>
	</header>
	<!--====== Header Section End ======-->


	<!-- ==== Intro Section Start ==== -->
	<section class="intro-section fix" id="home" smoothScroll easing="easeInQuint">
		<div class="intro-bg bg-cms"></div>
		<div class="intro-inner">
			<div class="intro-content">
				<h2 class="typing">Artin Rezaee <span>|</span></h2>
				<p>SOFTWARE DEVELOPER</p>
			</div>
		</div>
	</section>
	<!-- ==== Intro Section End ==== -->

	<!-- ==== Quote Section Start ==== -->
	<section class="review-section fix" id="about" smoothScroll easing="easeInQuint" >
		<div class="container pt100 ">
			<div class="col-md-offset-2 col-md-8">
				<!-- Review item -->
				<div class="review-item">
					<p>"Every great developer you know got there by solving problems they were unqualified to solve until they actually did it."</p>
					<h2>- Patrick McKenzie</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== Quote Section End ==== -->

	<!-- ==== About Section Start ==== -->
	<section class="about-section fix">
		<div id="background-1" class="mouse-bg hidden-xs hidden-sm"></div>
		<div class="container pt100 pb100">
			<div class="row">
				<div class="col-md-6 about-img">
					<img src="../assets/img/profile.jpg" alt="">
				</div>
				<div class="col-md-6 about-text">
					<h2 class="typing">A little about me <span>|</span></h2>
					<p>I am <ins>Artin Rezaee.</ins> Software engineering student from Calgary, Alberta; Expericenced in web, mobile, and desktop application development. Some of my other areas of interest are Big Data and Data Science, Network Security, Distributed Programming, and Mobile Web Apps. I have previous experience working and creating software for Calgary based startups. Aside from programming, I enjoy producing music, following news, reading political analyses, traveling, and learning about different cultures.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== About Section End ==== -->



	<!-- ==== About Section Start ==== -->
	<section class="service-section fix">
		<div class="container pt100 pb100">
			<div class="stitle mb70">
				<h2>What I Offer!</h2>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
					<div class="service-item">
						<i class="fa fa-mobile"></i>
						<h4>Mobile Development</h4>
						<p style="color:black">Using languages such as Java, I develop scalable mobile applications in accordance to modern industry standards</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
					<div class="service-item">
						<i class="fa fa-desktop"></i>
						<h4>Web Development</h4>
						<p style="color:black">I use web platfroms such as Angular 2 and backend services like Firebase to create responsive and progressive web applications</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
					<div class="service-item">
						<i class="fa fa-codepen"></i>
						<h4>Application Development</h4>
						<p style="color:black">Utalizing languages such as Java, python, and C/C++, I create applications intended and optimized to run on desktop operatin systems</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== About Section End ==== -->


	<!-- ==== Resume Section Start ==== -->
	<section class="resume-section fix" id="resume" smoothScroll easing="easeInQuint">
		<div class="container pt100 pb100">
			<div class="stitle mb100">
				<h2>My Experience</h2>
			</div>
			<div class="row">
				<!-- Resume Item -->
				<div class="col-md-offset-1 col-md-10">
					<div class="resume-item row">
						<div class="col-md-4 col-sm-4 resume-left wow fadeInUp" data-wow-delay="0.15s">
							<div>
								<h2>2 years</h2>
								<p>2015-2017</p>
							</div>
						</div>
						<div class="col-md-8 col-sm-8 resume-right">
							<h2>Art & Creative director</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
					<!-- Resume Item -->
					<div class="resume-item row">
						<div class="col-md-4 col-sm-4 resume-left wow fadeInUp" data-wow-delay="0.15s">
							<div>
								<h2>3 years</h2>
								<p>2012-2015</p>
							</div>
						</div>
						<div class="col-md-8 col-sm-8 resume-right">
							<h2>Web designer & developer</h2>
							<p>Lorem ipsum dolor sit amet, sit augue theophrastus ex. Nec ne dicam impedit perpetua, legimus fierent molestiae ei nec. Eum ei adhuc meliore pericula.At agam omittam accumsan mel.</p>
						</div>
					</div>
					<!-- Resume Item -->
					<div class="resume-item row">
						<div class="col-md-4 col-sm-4 resume-left wow fadeInUp" data-wow-delay="0.15s">
							<div>
								<h2>1 years</h2>
								<p>2011-2012</p>
							</div>
						</div>
						<div class="col-md-8 col-sm-8 resume-right">
							<h2>Mid-level designer</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== Resume Section End ==== -->


	<!-- ==== Portfolio Section Start ==== -->
	<section class="portfolio-section fix" id="portfolio" smoothScroll easing="easeInQuint">
		<div class="container-fluid pt100">
			<div class="stitle mb70">
				<h2>My Latest Projects</h2>
			</div>

			<ul class="portfolio-filter mb40">
				<li class="filter" data-filter="*">ALL</li>
				<li class="filter" data-filter=".ill">ILLUSTRATIONS</li>
				<li class="filter" data-filter=".brand">BRANDING</li>
				<li class="filter" data-filter=".fs">FASHION</li>
			</ul>

			<div class="row isotope_items">
				<!-- Work item -->	
				<div class="nopad col-md-4 col-sm-6 col-xs-12 ill">
					<a class="work-item content-popup" href="#workID-1">
						<img src="../assets/img/works/1.jpg" alt="">
						<div class="work-inner">
							<div class="work-info">
								<h2>Project Title</h2>
								<h3>Graphics</h3>
							</div>	
						</div>
						<div id="workID-1" class="mfp-hide work-popup">
							<img src="../assets/img/works/1.jpg" alt="">
							<div class="work-popup-content">
								<h3>Project Title</h3>
								<p>In media, which includes textual, audio, and visual content, free licensing schemes such as some of the licenses made by Creative Commons have allowed for the dissemination of works under a clear set of legal permissions.</p>
							</div>
						</div> 
					</a>
				</div>
				<!-- Work item -->	
				<div class="nopad col-md-4 col-sm-6 col-xs-12 brand">
					<a class="work-item default-popup" href="../assets/img/works/2.jpg">
						<img src="../assets/img/works/2.jpg" alt="">
						<div class="work-inner">
							<div class="work-info">
								<h2>Project Title</h2>
								<h3>Branding</h3>
							</div>	
						</div>
					</a>
				</div>
				<!-- Work item -->	
				<div class="nopad col-md-4 col-sm-6 col-xs-12 fs">
					<a class="work-item video-popup" href="https://www.youtube.com/watch?v=Xd0Ok-MkqoE">
						<img src="../assets/img/works/3.jpg" alt="">
						<div class="work-inner">
							<div class="work-info">
								<h2>Project Title</h2>
								<h3>Branding</h3>
							</div>	
						</div>
					</a>
				</div>
				<!-- Work item -->	
				<div class="nopad col-md-4 col-sm-6 col-xs-12 brand">
					<a class="work-item default-popup" href="../assets/img/works/4.jpg">
						<img src="../assets/img/works/4.jpg" alt="">
						<div class="work-inner">
							<div class="work-info">
								<h2>Project Title</h2>
								<h3>Branding</h3>
							</div>	
						</div>
					</a>
				</div>
				<!-- Work item -->	
				<div class="nopad col-md-4 col-sm-6 col-xs-12 fs">
					<a class="work-item video-popup" href="https://www.youtube.com/watch?v=OJJDVHvotA4">
						<img src="../assets/img/works/5.jpg" alt="">
						<div class="work-inner">
							<div class="work-info">
								<h2>Project Title</h2>
								<h3>Branding</h3>
							</div>	
						</div>
					</a>
				</div>
				<!-- Work item -->	
				<div class="nopad col-md-4 col-sm-6 col-xs-12 brand">
					<a class="work-item content-popup" href="#workID-6">
						<img src="../assets/img/works/6.jpg" alt="">
						<div class="work-inner">
							<div class="work-info">
								<h2>Project Title</h2>
								<h3>Branding</h3>
							</div>	
						</div>
						<div id="workID-6" class="mfp-hide work-popup">
							<img src="../assets/img/works/6.jpg" alt="">
							<div class="work-popup-content">
								<h3>Project Title</h3>
								<p>In media, which includes textual, audio, and visual content, free licensing schemes such as some of the licenses made by Creative Commons have allowed for the dissemination of works under a clear set of legal permissions.</p>
							</div>
						</div> 
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== Portfolio Section End ==== -->


	<!-- ==== Contact Section Start ==== -->
	<section class="contact-section fix" id="contact" smoothScroll easing="easeInQuint">
		<div class="container pt100 pb100">
			<div class="stitle mb70">
				<h2 class="typing" >I'd love to chat <span>|</span></h2>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="row">
						<!-- Contact Info -->
						<div class="col-md-6 col-sm-6 col-centered contact-info wow fadeInUp" data-wow-delay="0.2s">
							<i class="fa fa-phone"></i>
							<p>+1 (403) 918 2606
						</div>
						<!-- Contact Info -->
						<div class="col-md-6 col-sm-6 contact-info wow fadeInUp" data-wow-delay="0.6s">
							<i class="fa fa-envelope"></i>
							<p>artin.anzabee@gmail.com</p>
						</div>
					</div>
					<!-- Contact Form -->
					<form action="mail.php" class="send-form-style" id="contact-form" method="POST" >
						<div class="row">
							<div class="col-sm-6">
								<input type="text" name="name" id="name" required placeholder="Your Name*">
							</div>
							<div class="col-sm-6">
								<input type="email" name="email" id="email" required placeholder="Your Email*">
							</div>
							<div class="col-sm-12">
								<textarea id="massage" name="massage" required placeholder="Your Massage*"></textarea>
							</div>
							<div class="text-center">
								<button type="submit" class="site-btn" data-wow-delay="0.2s" id="send-form">Send Massege</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== Contact Section End ==== -->


	<!-- ==== Footer Section Start ==== -->
	<footer class="footer-section fix">
		<div class="container">
			<!-- social media -->
			<div class="social-links mt25">
				<a href="https://twitter.com/artin_rezaee" class="twitter wow fadeInUp" data-wow-delay="0.4s"><i class="fa fa-twitter"></i></a>
				<a href="https://www.linkedin.com/in/artin-rezaee-anzabee-9b3543131/" class="dribbble wow fadeInUp" data-wow-delay="0.6s"><i class="fa fa-linkedin"></i></a>
				<a href="https://github.com/ArtinRezaee" class="github wow fadeInUp" data-wow-delay="0.8s"><i class="fa fa-github"></i></a>
			</div>
			<p>Made using Angular 4</p>
		</div>
	</footer>
	<!-- ==== Footer Section End ==== -->



</body>
</html>
